services:
  postgres:
    image: docker.io/postgres:17-bullseye
    restart: always
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
    ports:
      - "5432:5432"

  redis:
    image: docker.io/redis:8
    restart: always
    ports:
      - "6379:6379"

  localstack:
    image: docker.io/localstack/localstack:4.0
    restart: always
    ports:
      - "4566:4566"
    environment:
      SERVICES: "s3,sqs,ssm"

  vault:
    image: docker.io/hashicorp/vault:1.18
    restart: always
    ports:
      - "8200:8200"
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: "vault-plaintext-root-token"
    cap_add:
      - IPC_LOCK

  prometheus:
    image: docker.io/prom/prometheus:v3.1.0
    user: root
    restart: always
    ports:
      - 9090:9090
    depends_on:
      - mimir
    volumes:
      - ./prometheus:/etc/prometheus
      - prometheus_data:/prometheus
    command: --config.file=/etc/prometheus/config.yml

  mimir:
    image: docker.io/grafana/mimir
    restart: always
    ports:
      - 9009:9009
    volumes:
      - ./grafana:/etc/grafana
    command: --config.file=/etc/grafana/mimir.yml

  loki:
    image: docker.io/grafana/loki
    restart: always
    ports:
      - 3100:3100
    volumes:
      - ./grafana:/etc/grafana
    command: --config.file=/etc/grafana/loki.yml

  memcached:
    image: docker.io/memcached:1.6
    restart: always
    ports:
      - "11211:11211"

  tempo:
    image: docker.io/grafana/tempo:2.10.1
    restart: always
    ports:
      - 3200:3200
    volumes:
      - ./grafana:/etc/grafana
      - ./grafana/tempo/overrides.yaml:/etc/overrides.yaml
    command: --config.file=/etc/grafana/tempo.yml
    depends_on:
      - memcached

  otel-collector:
    image: docker.io/otel/opentelemetry-collector-contrib
    restart: always
    command: ["--config=/etc/otelcol/config.yml"]
    ports:
      - "4317:4317"
      - "4318:4318"
    volumes:
      - ./otelcol:/etc/otelcol
    depends_on:
      - mimir
      - loki
      - tempo

  grafana:
    image: docker.io/grafana/grafana-oss
    restart: always
    ports:
      - 10000:3000
    depends_on:
      - prometheus
      - mimir
      - loki
      - tempo

  status:
    image: docker.io/alexfalkowski/status
    command: server -i file:/etc/status/server.yml
    restart: always
    ports:
      - "15000:8080"
      - "15001:6060"
    volumes:
      - ./status:/etc/status

  flipt:
    image: docker.io/flipt/flipt
    restart: always
    ports:
      - "8080:8080"
      - "9000:9000"

volumes:
  prometheus_data:
